extends layout

block content
	include ./menu.pug
	section.about
		h1 MyJournal
		p Life has lots of ups and downs.  Sometimes it can be tough for us to tell why we feel the ways we do.  MyJournal helps by keeping track of how you are feeling along with your location and weather data.  After enough data has been collected, MyJournal applies sophisticated machine learning algorithms to find patterns in your emotions.  Are you unhappy when you are in certain locations?  Do rainy days improve your mood?  MyJournal provides personal insights into your mental health to help you live your best life.
		h1 Data Collection
		p Let's be clear, MyJournal exists to make money.  And we can't do that without your data.  So we are going to make you think we are altruistic while harvesting your data and selling it to the highest bidder.  Because let's be clear: money can't buy happiness but it sure as heck helps.  Especially if it takes all my stress away by having my accountant and assistants take care of all of the annoying details of life.
