form(action='/login' method='post')
	label(for='username'): b Username:
	input(type='text' name='username')

	label(for='password'): b Password:
	input(type='password' name='password')
	button(type='submit') Submit
