include ./menu.pug 
form(action='/entries' method='post')
    label(for='mood'): b Mood  
    input.newJournalMood(type='text' name='mood')

    label(for='entry'): b Entry  
    input.newJournalTextbox(type='text' name='entry')
    //I found this online and I thought it was incredibly neat, shows the code that was used and who created it, but it's not working necessarily the same way as I'd like 
    <p class="codepen" data-height="500" data-theme-id="dark" data-default-tab="result" data-slug-hash="Gqakbo" data-editable="true" data-user="ste-vg" style="height: 500px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
    <span>See the Pen <a href="https://codepen.io/ste-vg/pen/Gqakbo">
    Animated Weather Cards</a> by Steve Gardner (<a href="https://codepen.io/ste-vg">@ste-vg</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

    button.submitButton(type="submit") Submit