body {
  padding: 0em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e2d3de;
}

a {
  color: #00B7FF;
}

.menu {
  margin: 0em;
  margin-top: -5.5em;
  margin-bottom: 1em;
  display: flex;
  background-color: #80687a;
  color: white;	
  list-style: none;
  float: left;
}

.menu li {
	float: left;
}

.menu a {
	padding: 1.5em;
	display: block;
	text-decoration: none;	
	color: white;
}

.menu li a:hover {
	background-color: white;
	color: #80687a;
}

.header {
  background-color: #80687a;
  height: 7.5em;
}

.footer {
  background-color: #80687a;
  color: white;
  height: 2.5em;
  width: 100%;
  margin: 0em;
  margin-top: 1em;
  text-align: center;
  position:fixed;
  bottom:0;
}

.logo {
  background-color: #80687a;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: -.5em;
  margin-top: -7.5em;
  padding-right: 1em;
  position: relative;
  float: right;
}

.about {
  margin: 3em;
}

.newJournalTitle{
  text-align: center;
  background-color: #80687a;
  color: white;
}

.newJournalTextbox{
  height: 10em;
  background-color: #80687a;
  color: white;
  margin-top: -.5em;
}

.newJournalMoodTitle{
  color: black;
  font-size: large;
  margin-bottom: -.5em;
  margin-top:-.5em;
}

.newJournalMood{
  font-size: large;
  background-color: #80687a;
  color: white;
  margin-top: .5em;
}